  p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
  .text-edits {
    font-weight: bold;
    font-size: 18px;
    width: 280px;
    line-height: 26px;
  }
  .views-text {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 5px;
    margin-bottom: 16px;
  }
  .marcus {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 16px;
  }
  .kou-shik {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    line-height: 20px;
    margin-bottom: 100px;
  }

  .apple {
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .paisak {
    color: white;
    cursor: pointer;
  }
  .paisak:hover {
    text-decoration: underline;
  }