.sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

.side-bar {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-bar:hover{
  background-color: rgb(236, 234, 234);

}

.side-bar img {
  height: 24px;
  margin-bottom: 4px;
}

.side-bar div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
